@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.textarea {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        @include textarea-mobile;
        @include song-title-mb;
        color: black;
        &::placeholder {
            @include song-title-mb;
        }
        &:focus {
            outline: none;
        }
    }

    &__artist, &__chords {
        @include textarea-mobile;
        @include artist-lyric-mb;
        &::placeholder {
            @include artist-lyric-mb;
        }
        &:focus {
            outline: none;
        }
    }

    &__chords {
        height: 35rem;
        scrollbar-width: none;
        margin-top: 2rem;
    }

    @include tablet {
        &__title {
            font-size: 1.5rem;
            line-height: 1.25rem;
        }
        &__artist, &__chords {
            font-size: 1.25rem;
            line-height: 1.25rem;
        }
    }

    &::-webkit-scrollbar {
        display: none;
      }
}

.chord-matches {
    margin-top: 1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    
    h4 {
      margin-bottom: 0.5rem;
    }
  
    ul {
      list-style-type: none;
      padding-left: 0;
  
      li {
        background-color: #e0f7fa;
        padding: 0.5rem;
        margin: 0.2rem 0;
        border-radius: 4px;
      }
    }
  }